.claude/
DerivedData/
coverage.xcresult/
node_modules/
dist/
build/
testresults
testresults.xcresult/

# Xcode user data
*.xcuserdatad/

# Editor-specific
.nvim/
.xcodebuild

# Build server
buildServer.json
